@mixin button ($background-color, $color, $border, $font-size){
	display: inline-block;
	text-decoration: none;
	font-family: $font;
	font-weight: 400;
	line-height: 1;
	padding: 12px 33px; 
	border-radius: 30px;
	text-align: center;
	background-color: $background-color;
	color: $color;
	border: $border;
	font-size: $font-size;
	}
