@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Varela+Round');
@import "variables";
@import "normalize";

.header{
	background: url(../images/iphone.png),url(../images/background.jpg);
	background-position:  center bottom, center center;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, cover; 
    &__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 1000px;
	}
	&__title{
		padding-top: 80px;
		text-align: center;
		font-family: $bigTitle;
		font-size: 62px;
		color: $headerColor;
	}
	&__description{
		padding-top: 40px;
		padding-bottom: 60px;
		color: $textColor;
		text-align: center;
		font-family: $font;
		font-size: 22px;
		font-weight: 400;
		line-height: 1.5;
		
	}
	&__button{
		display: block;
		margin: $margin;
		padding: 18px 28px;
		border: 2px solid #dbdddf;
		border-radius: 30px;
		width: 230px;
	}
	&__video{
		text-decoration: none;
		font-family: $font;
		font-size: 20px;
		font-weight: 400;
		color: $headerColor;
	}
	&__img{
		padding: 0 20px;
	}

}
.menu{
	padding-top: 40px;
	&__items{
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	&__icon{
		padding:  0 17px;

	}
	&__item {
		font-family: $font;
		font-size: 18px;
		font-weight: 400;
		&_logo{
			z-index: 1;
			position: absolute;
			left: 50%;
		}
	}
	&__link{
		text-decoration: none;
		color: $headerColor;
		&_last{
			color: #ffffff;
			font-weight: bold;
			border: 1px solid transparent;
			border-radius: 30px;
			padding: 12px 30px;
			background-color: #267df4;
		}
	}
}

.feature{
	background-color: $background;
	&__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 560px;
		padding-top: 120px;
		display: flex;
		justify-content: space-between;
		font-family: $font;
		font-weight: 400;
		font-size: 18px;
		color: $textColor;
		border-bottom: 2px solid #f4f4f4;
		line-height: 1.5;
	}
	&__content{
		width: 520px;
	}
	&__illustration{
		padding-bottom: 40px;
	}
	&__title{
		margin: 0;
		padding-bottom: 20px;
		font-family: $font;
		font-weight: 300;
		font-size: 26px;
		color: $headerColor;
	}
}

.protection{
	background: url(../images/iphone_bck.png), #ffffff;
	background-position: 0 30%, center;
	background-repeat: no-repeat, repeat;
	background-size: auto, auto;
	&__container{
		padding-top: 150px;
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 900px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
	}
	&__content{
		width: 600px;
		font-family: $font;
		font-weight: 400;
		font-size: 22px;
		color: $textColor;
		line-height: 1.5;
	}
	&__title{
		padding-bottom: 40px;
		font-family: $bigTitle;
		font-size: 42px;
		color: $headerColor;
	}
}
.button{
	width: 540px;
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__item{
		width: 260px;
		background-color: #267df4;
		border: 1px solid transparent;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 15px;
		text-align: center;
		border-radius: 30px;
		&_learn{
			width: 200px;
			background-color: #ffffff;
			border: 2px solid #dbdddf;
			border-radius: 30px;
		}
	}
	&__link{
		text-decoration: none;
		color: #ffffff;
		font-family: $font;
		font-weight: 400;
		font-size: 26px;
		&_learn{
			color: $headerColor;
		}
	}
	&__illustration{
		padding-left: 47px;
	}
}

.world{
	background: url(../images/map.png), #ffffff;
	background-position: 70% 0, center;
	background-repeat: no-repeat, repeat;
	background-size: auto, auto;
	&__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 700px;
	}
	&__content{
		padding-top: 40px;
		width: 560px;
		font-family: $font;
		font-weight: 400;
		font-size: 22px;
		color: $textColor;
		line-height: 1.5; 
	}
	&__title{
		font-family: $bigTitle;
		font-size: 42px;
		color: $headerColor;
	}

}
.partners{
	&__title{
		font-family: $font;
		font-weight: 700;
		font-size: 16px;
		color: $headerColor;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&__icon{
		padding-right: 35px;
	}
}

.interface{
	background-color: #f5f5f8;
	&__container{
		padding-top: 50px;
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 900px;
	}
	&__title{
		padding-bottom: 20px;
		text-align: center;
		font-family: $bigTitle;
		font-size: 42px;
		color: $headerColor;
	}
	&__border{
		margin: $margin;
		padding-bottom: 20px;
		width: 50px;
		border-top: 3px solid #267df4;
	}
	&__subtitle{
		text-align: center;
		text-transform: uppercase;
		font-family: $font;
		font-weight: 700;
		font-size: 14px;
		color: $textColor;
	}

}
.install{
		&__subtitle{
		margin-bottom: 0;
		text-transform: uppercase;
		font-family: $font;
		font-weight: 400;
		font-size: 14px;
		color: $textColor;
		text-align: center;
		&_load{
			font-weight: 300;
			padding: 40px 0 30px;
		}
	}
	&__title{
		font-family: $bigTitle;
		font-size: 42px;
		color: $headerColor;
		text-align: center;
	}
	&__icon{
		display: block;
		margin: $margin;
	}
}
.invite{
	margin: $margin;
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	border: 2px solid #dddde0;
	border-radius: 30px;
	padding: 3px;
	overflow: hidden;
	&__email{
		width: 200px;
		vertical-align: middle;
		border: none;
		background: #f5f5f8;
	}
	&__button{
		border: 1px solid transparent;
		border-radius: 30px;
		background-color: #6fc754;
		text-align: center;
		padding: 10px 12px;
	}
	&__link{
		text-decoration: none;
		color: #ffffff;
		font-family: $font;
		font-weight: 400;
		font-size: 14px;
	}
	&__illustration{
		padding-left: 20px;
	}
}

.review{
	background-color: #ffffff;
	&__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 700px;
	}
	&__title{
		font-family: $font;
		font-size: 32px;
		font-weight: 300;
		text-align: center;
	}
	&__content{
		width: 600px;
		margin: 0 auto;
		font-family: $font;
		font-size: 20px;
		font-weight: 400;
		color: $textColor;
		text-align: center;
		line-height: 1.5;
		padding-bottom: 30px;
	}
	&__stars{
		display: block;
		margin: $margin;
		padding-bottom: 60px;
	}
	&__author{
		text-align: center;
		text-transform: uppercase;
		font-family: $font;
		font-weight: 700;
		font-size: 12px;
		color: $headerColor;
	}
}

.choice{
	background-color: #f5f5f8;
	&__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 700px;
	}
	&__title{
		padding-top: 100px;
		font-family: $bigTitle;
		font-size: 42px;
		color: $headerColor;
	}
	&__description{
		padding-top: 70px;
		width: 400px;
		color: $textColor;
		font-family: $font;
		font-size: 18px;
		font-weight: 400;
	}
	&__question{
		padding-top: 50px;
		color: $textColor;
		font-family: $font;
		font-size: 14px;
		font-weight: 400;
	}
	&__link{
		color: #3c86f4;
	}
}
.panel{
	&__title{
		padding-top: 60px;
		font-family: $font;
		font-size: 12px;
		font-weight: 700;
		color: $headerColor;
		text-transform: uppercase;
		padding-bottom: 20px;
	}
	&__box{
		width: 300px;
		display: flex;
		justify-content: space-between;
		border: 2px solid #dddde0;
		border-radius: 30px;
		padding: 2px;
	&_element{
		border: none;
	}
	}
}
.btn{
	width: 90px;
	text-align: center;
	text-decoration: none;
	font-family: $font;
	font-weight: 400;
	font-size: 16px;
	color: #c2c2c3;
	padding: 12px 25px;
	
	&:hover{
		color: $headerColor;
		background-color: #ffffff;
		padding: 12px 25px;
		border: 1px solid transparent;
		border-radius: 30px;
		box-shadow: 4px 5px 7px;
	}
}

.subscribe{
	background-color: #ffffff;
	&__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 350px;
		border-bottom: 1px solid #dddde0;
	}
	&__title{
		padding-top: 50px;
		text-align: center;
		font-family: $bigTitle;
		font-size: 42px;
		color: $headerColor;
	}
	&__spam{
		padding-top: 30px;
		margin: $margin;
		width: 400px;
		text-align: center;
		color: $textColor;
		font-family: $font;
		font-weight: 400;
		font-size: 14px;
	}
}
.content{
	margin: $margin;
	display: flex;
	justify-content: space-between;
	width: 500px;
	border: 2px solid #dddde0;
	border-radius: 30px;
	padding: 19px 3px 17px 15px;
	&__input{
		background-color: #ffffff;
		border: none;
	}
	&__link{
		text-decoration: none;
		background-color: #6fc754;
		color: #ffffff;
		font-family: $font;
		font-weight: 700;
		font-size: 16px;
		border: 1px solid transparent;
		border-radius: 30px;
		padding: 14px 30px;
	}
}

.footer{
	background-color: #ffffff;
	&__container{
		padding-top: 80px;
		margin: $margin;
		max-width: $max-width;
		width: $width;
		height: 400px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dddde0;
	}
}
	
.contents{
		width: 255px;
		font-family: $font;
		font-weight: 400;
		font-size: 14px;
		color: $textColor;
		line-height: 1.5;
	&__logo{
		padding-top: 20px;
	}
	&__download{
		padding-top: 25px;
	}
}
.social{
	padding-top: 30px;
	&__items{
		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
}
.information{
	
	&__title{
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		color: $headerColor
	}
}
.list{
	list-style: none;
	padding-left: 0;
	&__link{
		text-decoration: none;
		font-family: $font;
		color: $textColor;
		font-weight: 400;
		font-size: 16px;
		line-height: 2;
	}
}
.copyrights{
	background-color: #ffffff;
	&__container{
		margin: $margin;
		max-width: $max-width;
		width: $width;
		padding-top: 20px;
		display: flex;
		justify-content: space-between;
	}
	&__copy{
		font-family: $font;
		font-weight: 400;
		font-size: 14px;
		color: $textColor;
	}
	&__link{
		color: #3c86f4;
	}
}
.creator{
	height: 70px;
	width: 250px;
	display: flex;
	justify-content: space-between;
	&__title{
		margin: 0;
		font-family: $font;
		font-size: 9px;
		text-transform: uppercase;
		font-weight: 700;
		vertical-align: center;
	}
}