@import "variables";
@import "normalize";
@import "mixins";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container{
	margin: $margin;
	max-width: $max-width;
	width: $width;
}

.header{
	background: url(../images/iphone.png),url(../images/background.jpg);
	background-position:  center bottom, center center;
	background-repeat: no-repeat, no-repeat;
	background-size: auto, cover; 
		&__container{
		@extend .container;
		height: 1000px;
		padding-left: 25px;
		padding-right: 25px;
		@include tablet-landscape {
			height: auto;
			background: url(../images/background.jpg), no-repeat;
			background-size: auto;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			background: url(../images/background.jpg), no-repeat;
			padding-bottom: 20px;
		}
		@include phone {
		background: url(../images/background.jpg), no-repeat;
		height: auto;
		padding-bottom: 10px;
		}
	}
	&__title{
		padding-top: 80px;
		text-align: center;
		@include fontTitle ($bigTitle, $headerColor, 62px);
		@include tablet-landscape {
			font-size: 46px;
			padding-top: 55px;
		}
		@include tablet-portrait {
			font-size: 32px;
			padding-top: 40px;
		}
		@include phone {
			font-size: 20px;
			padding-top: 30px;
		}
	}
	&__description{
		padding-top: 40px;
		padding-bottom: 40px;
		color: $textColor;
		text-align: center;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 22px;
		@include tablet-landscape {
			font-size: 20px;
		}
		@include tablet-portrait {
			font-size: 18px;
			padding-top: 30px;
		}
		@include phone {
			font-size: 14px;
			padding-top: 20px;
		}
	}
	&__button{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.menu{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__wrapper{
		display: flex;
		justify-content: space-between;;
		flex-wrap: nowrap;
		width: 400px;
		@include tablet-landscape {
			width: auto;
		}
		@include tablet-portrait {
			width: auto;
		}
		@include phone {
			width: auto;
		}
	}
	&__items{
		margin: 0;
		list-style: none;
		padding-left: 0;
		display: flex;
		justify-content: space-around;
		width: 400px;
		@include tablet-landscape {
			display: none;
		}
		@include phone {
			display: none;
		}
		@include tablet-portrait {
			display: none;
		}
	}
	&__content{
		width: 400px;
		display: flex;
		justify-content: space-between;;
		flex-wrap: nowrap;
		align-items: center;
		@include tablet-landscape {
			width: auto;
		}
		@include tablet-portrait {
			width: auto;
		}
		@include phone {
			width: auto;
		}
	}
	&__parts{
		width: 200px;
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
		justify-content: space-around;
		@include phone {
			display: none;
		}
		@include tablet-portrait {
			display: none;
		}
	}
	
	&__link{
		text-align: center;
		font-family: $font;
		font-weight: 400;
		line-height: 0;
		font-size: 20px;
		text-decoration: none;
		color: $headerColor;
		@include tablet-landscape {
			font-size: 16px;
		}
		&_help{
		color: $textColor;}
	}
}

.feature{
	background-color: $background;
	&__container{
		@extend .container;
		height: 560px;
		padding: 120px 25px 0 25px;
		display: flex;
		justify-content: space-between;;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 18px;
		color: $textColor;
		border-bottom: 2px solid #f4f4f4;
		@include tablet-landscape {
			height: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: 60px;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			font-size: 16px;
			display: flex;
			flex-direction: column;
			padding-top: 35px;
			padding-bottom: 15px;
		}
		@include phone  {
			display: flex;
			flex-direction: column;
			font-size: 14px;
			padding-top: 20px;
			padding-bottom: 10px;
			text-align: left;
			height: auto;
		}
	}
	&__content{
		width: 520px;

		@include tablet-portrait {
			width: auto;
		}
		@include phone {
			width: auto;
		}
	}
	&__illustration{
		padding-bottom: 40px;
		@include tablet-portrait {
			padding-bottom: 10px;
			height: 38px;
		}
			@include phone  {
			padding-bottom: 0px;
			width: 41px;
			height: 37px;
		}
	}
	&__title{
		margin: 0;
		padding-bottom: 20px;
		font-family: $font;
		font-weight: 300;
		font-size: 26px;
		color: $headerColor;
		@include tablet-portrait {
			font-size: 22px;
			padding-bottom: 10px;
		}
		@include phone {
			font-size: 19px;
			padding-bottom: 10px;
		}
	}
}

.protection{
	background: url(../images/iphone_bck.png), #ffffff;
	background-position: 0 30%, center;
	background-repeat: no-repeat, repeat;
	background-size: auto, auto;
	&__container{
		padding-top: 150px;
		@extend .container;
		height: 900px;
		padding-left: 25px;
		padding-right: 25px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		@include desktop {
			background-size: 35%, auto;
		}
		@include tablet-landscape {
			height: auto;
			background-color: #ffffff;
			padding-top: 50px;
			flex-direction: row;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			background-color: #ffffff;
			padding-top: 30px;
			display: block;
		}
		@include phone {
			height: auto;
			background-color: #ffffff;
			padding-top: 20px;
			display: block;
		}
	}

	&__content{
		width: 600px;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 22px;
		color: $textColor;
		@include tablet-landscape {
			width: auto;
			font-size: 20px;
			text-align: center;
		}
		@include tablet-portrait {
			width: auto;
			font-size: 19px;
			text-align: left;
		}
		@include phone {
			width: auto;
			font-size: 17px;
			text-align: center;
		}
	}
	&__title{
		padding-bottom: 40px;
		@include fontTitle ($bigTitle, $headerColor, 42px);
		@include tablet-landscape {
			font-size: 36px;
		}
		@include tablet-portrait {
			font-size: 32px;
			padding-bottom: 25px;
		}
		@include phone {
			font-size: 26px;
			padding-bottom: 20px;
		}
	}
	@include desktop {
		background-size: 45% , auto;
		}
}
.buttons{
	width: 600px;
	padding-top: 40px;
	padding-bottom: 20px;
	& :first-child {
		margin-right: 20px;
	}
	@include tablet-landscape {
			width: auto;
			margin: 0;
		}
	@include phone {
		display: block;
		width: auto;
	}
	
}	

.button{
	@include button(#ffffff, $headerColor, 2px solid #dbdddf, 24px);
	
	&_primary{
		@include button(#267df4, #ffffff, 1px solid transparent, 24px);
		@include phone {
			padding: 10px 28px; 
		}
	}
	&__illustration{
		padding-left: 9px;
		@include tablet-portrait {
			height: 9px;
			padding-left: 8px;
		}
		@include phone {
			display: none;
		}
	}
	&__icon{
		padding-right:  12px;
		@include tablet-portrait {
		padding-right: 8px;
		height: 16px;
		}
		@include phone  {
		padding-right: 6px;
		height: 15px;
		width: 17px;
			}
	}
	&_secondary{
		@include button(transparent, $headerColor, 2px solid #dbdddf, 20px);
		padding: 18px 25px;
	}
	&__img{
		padding: 0 20px;
	}
	&_success{
		@include button(#6fc754, #ffffff, 1px solid transparent, 14px);
		@include phone {
		padding: 10px 10px;
	}
	}

	&_info{
		@include button(transparent, #c2c2c3, 2px solid #dbdddf, 16px);
		@include buttonStates($headerColor, #ffffff, 4px 5px 7px);
	}
	@include tablet-landscape {
		padding: 10px 18px;
		font-size: 16px;
		}
	@include tablet-portrait {
		padding: 10px 15px;
		font-size: 14px;
		}
	@include phone  {
		padding: 10px 13px;
		font-size: 12px;
	}
	
}

.world{
	background: url(../images/map.png), #ffffff;
	background-position: 100%, center;
	background-repeat: no-repeat, repeat;
	background-size: auto, auto;
	&__container{
		@extend .container;
		height: 700px;
		padding-left: 25px;
		padding-right: 25px;
		@include tablet-landscape {
			height: auto;
			background-color: #ffffff;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			background-color: #ffffff;
		}
		@include phone {
			height: auto;
			background-color: #ffffff;
		}
	}
	&__content{
		padding-top: 40px;
		width: 560px;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 22px;
		color: $textColor;
		@include tablet-landscape {
			width: auto;
			font-size: 20px;
		}
		@include tablet-portrait {
			width: auto;
			padding-top: 28px;
			font-size: 19px;
		}
		@include phone {
			width: auto;
			font-size: 17px;
			padding-top: 20px;
		}
	}
	&__title{
		@include fontTitle ($bigTitle, $headerColor, 42px);
		@include tablet-landscape {
			font-size: 36px;
			text-align: center;
		}
		@include tablet-portrait {
			font-size: 32px;
		}
		@include phone {
			font-size: 26px;
		}
	}
	@include desktop {
		background-position: 100% top, center;
			background-size: 55% , auto;
		}
}
.partners{
	&__title{
		font-family: $font;
		font-weight: 700;
		font-size: 16px;
		color: $headerColor;
		padding-top: 30px;
		padding-bottom: 30px;
		@include phone {
		padding-bottom: 15px;
		}
	}
	&__icon{
		padding-right: 35px;
		@include phone {
			height: 30px;
		}
		&_second {
			padding-right: 0;
		}
	}
	@include tablet-landscape {
	 	text-align: center;
		}
}

.interface{
	background-color: #f5f5f8;
	&__container{
		padding-top: 50px;
		@extend .container;
		height: 900px;
		padding-left: 25px;
		padding-right: 25px;
		@include tablet-landscape {
			height: auto;
			padding-top: 35px;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			padding-top: 35px;
			padding-bottom: 20px;
		}
		@include phone {
			height: auto;
			padding-top: 25px;
		}
	}
	&__title{
		padding-bottom: 20px;
		text-align: center;
		@include fontTitle ($bigTitle, $headerColor, 42px);
		@include tablet-landscape {
			font-size: 36px;
		}
		@include tablet-portrait {
			font-size: 32px;
			padding-bottom: 10px;
		}
		@include phone {
			font-size: 26px;
			padding-bottom: 10px;
		}
	}
	&__border{
		margin: $margin;
		padding-bottom: 20px;
		width: 50px;
		border-top: 3px solid #267df4;
	}
	&__subtitle{
		text-align: center;
		text-transform: uppercase;
		font-family: $font;
		font-weight: 700;
		font-size: 14px;
		color: $textColor;
		@include phone {
			font-size: 10px;
		}
	}

}
.install{
		&__subtitle{
		margin-bottom: 0;
		text-transform: uppercase;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 14px;
		color: $textColor;
		text-align: center;
		@include phone {
			font-size: 10px;
		}
		&_load{
			font-weight: 300;
			padding: 40px 0 30px;
			@include tablet-portrait {
				padding: 25px 0 20px;
			}
			@include phone {
			padding: 20px 0 15px;
		}
		}
	}
	&__title{
		@include fontTitle ($bigTitle, $headerColor, 42px);
		text-align: center;
		@include tablet-landscape {
			font-size: 36px;
		}
		@include tablet-portrait {
			font-size: 32px;
		}
		@include phone {
			font-size: 26px;
		}
	}
	&__icon{
		display: block;
		margin: $margin;
		@include tablet-portrait {
			height: 55px;
		}
		@include phone {
			height: 50px;
		}
	}
}
.invite{
	width: 550px;
	margin: $margin;
	display: flex;
	justify-content: space-between;
	border: 2px solid #dddde0;
	border-radius: 30px;
	padding: 3px 3px 3px 20px;
	@include phone {
		width: auto;
		padding: 0 0 0 17px;
		}
	&__email{
		border: none;
		padding: 12px 20px;
		width: 350px;
		vertical-align: middle;
		outline: none;
		background: #f5f5f8;
		@include phone {
		width: auto;
		padding: 10px 10px;
		font-size: 12px;
		}
	}
}

.review{
	background-color: #ffffff;
	&__container{
		@extend .container;
		height: 700px;
		padding-left: 25px;
		padding-right: 25px;
		@include tablet-landscape {
			height: auto;
			
		}
		@include tablet-portrait {
			height: auto;
		}
		@include phone {
			height: auto;
		}
	}
	&__title{
		font-family: $font;
		font-size: 32px;
		font-weight: 300;
		text-align: center;
		@include tablet-portrait {
			font-size: 26px;
		}
		@include phone {
			font-size: 20px;
		}
	}
	&__content{
		width: 600px;
		margin: 0 auto;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 20px;
		color: $textColor;
		text-align: center;
		padding-bottom: 30px;
		@include tablet-portrait {
			width: auto;
		}
		@include phone {
			font-size: 16px;
			width: auto;
		}
	}
	&__stars{
		display: block;
		margin: $margin;
		padding-bottom: 60px;
	}
	&__author{
		text-align: center;
		text-transform: uppercase;
		font-family: $font;
		font-weight: 700;
		font-size: 12px;
		color: $headerColor;
	}
}
/*slider styles*/

.review__slider {
	width: 800px;
	margin: $margin;
	padding-top: 60px;
}
.slider{
	&__item {
		
	}
	&__image {
		height: 190px;
		width: 190px;
		border: none;
		border-radius: 50%;
	}
}

.choice{
	background-color: #f5f5f8;
	&__container{
		@extend .container;
		height: 700px;
		padding-left: 25px;
		padding-right: 25px;
		@include tablet-landscape {
			height: auto;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			padding-bottom: 20px;
		}
		@include phone {
		height: auto;
		}
	}
	&__title{
		padding-top: 100px;
		@include fontTitle ($bigTitle, $headerColor, 42px);
		@include tablet-landscape {
			padding-top: 50px;
			font-size: 36px;
			text-align: center;
		}
		@include tablet-portrait {
			padding-top: 30px;
			font-size: 32px;
		}
		@include phone {
		padding-top: 20px;
		font-size: 26px;
		text-align: center;
		}
	}
	&__description{
		padding-top: 70px;
		width: 400px;
		color: $textColor;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 18px;
		@include tablet-landscape {
			width: auto;
			padding-top: 30px;
			text-align: center;
		}
		@include tablet-portrait {
			padding-top: 30px;
			width: auto;
		}
		@include phone {
		padding-top: 20px;
		font-size: 16px;
		text-align: center;
		width: auto;
		}
	}
	&__question{
		padding-top: 50px;
		color: $textColor;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 14px;
		@include tablet-landscape {
			text-align: center;
		}
		@include phone {
		padding-top: 20px;
		}
	}
	&__link{
		color: #3c86f4;
	}
}
.panel{
	&__title{
		padding-top: 60px;
		font-family: $font;
		font-size: 12px;
		font-weight: 700;
		color: $headerColor;
		text-transform: uppercase;
		padding-bottom: 20px;
		@include tablet-landscape {
			text-align: center;
		}
		@include tablet-portrait {
			padding-top: 30px;
		}
		@include phone {
		padding-top: 20px;
		text-align: center;
		}
	}
	&__box{
		width: 300px;
		display: flex;
		justify-content: space-between;;
		border: 2px solid #dddde0;
		border-radius: 30px;
		padding: 2px;
		@include tablet-landscape {
			margin: $margin;
		}
		@include phone {
		width: auto;
		margin: $margin;
		}
	&_element{
		border: none;
	}
	}
}

.subscribe{
	background-color: #ffffff;
	&__container{
		@extend .container;
		height: 350px;
		padding-left: 25px;
		padding-right: 25px;
		border-bottom: 1px solid #dddde0;
		@include tablet-landscape {
			height: auto;
			padding-bottom: 20px;
		}
		@include tablet-portrait {
			height: auto;
			padding-bottom: 20px;
		}
		@include phone {
			height: auto;
		}
	}
	&__title{
		padding-top: 50px;
		text-align: center;
		@include fontTitle ($bigTitle, $headerColor, 42px);
		@include tablet-landscape {
			font-size: 36px;
		}
		@include tablet-portrait {
			font-size: 32px;
		}
		@include phone {
			font-size: 26px;
		}
	}
	&__spam{
		padding-top: 30px;
		margin: $margin;
		width: 400px;
		text-align: center;
		color: $textColor;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 14px;
		@include phone {
			width: auto;
		}
	}
}
.content{
	margin: $margin;
	width: 515px;
	display: flex;
	justify-content: space-between;
	border: 2px solid #dddde0;
	border-radius: 30px;
	padding: 3px 3px 3px 25px;
	text-align: center;
	@include tablet-portrait {
		width: 450px;
	}
	@include phone {
		width: auto;
		padding: 0 0 0 17px;
	}
	&__input{
		background-color: #ffffff;
		outline: none;
		border: none;
		padding: 14px 20px;
		width: 400px;
		@include phone {
		width: auto;
		padding: 10px 0;
		font-size: 12px;
	}
	}
}

.footer{
	background-color: #ffffff;
	&__container{
		padding: 80px 25px 0 25px;
		@extend .container;
		height: 400px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #dddde0;
		@include tablet-portrait {
			display: flex;
			justify-content: space-around;
			height: auto;
			padding-top: 30px;
		}
		@include phone {
			display: block;
			padding-top: 20px;
			height: auto;
		}
	}
	&__wrapper {
		flex-grow: 2;
		display: flex;
		justify-content: space-around;
		@include phone {
			width: auto;
			display: flex;
			justify-content: space-between;
		}
	}
}
	
.contents{
		padding-top: 12px;
		width: 255px;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 16px;
		color: $textColor;
		
		@include phone {
			width: auto;
		}
		&__discription{
			@include tablet-portrait {
			display: none;
		}
			@include phone {
			display: none;
			}
		}
		&__download {
		padding-top: 25px;
		@include phone {
			padding: 0;
			}
		}
		&__illustration {
			@include phone {
				display: none;
			}
		}
}
.social{
	padding-top: 30px;
	&__items{
		list-style: none;
		display: flex;
		justify-content: space-between;
		padding: 0;
	}
}

.information{
	&__title{
		font-family: $font;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
		color: $headerColor;
	}
}
.list{
	list-style: none;
	padding-left: 0;
	@include tablet-portrait {
			display: none;
		}
	@include phone {
		display: none;
	}
	&__link{
		text-decoration: none;
		color: $textColor;
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 16px;
		line-height: 2;
	}
}
.copyrights{
	background-color: #ffffff;
	&__container{
		@extend .container;
		padding: 20px 25px 0 25px;
		display: flex;
		justify-content: space-between;;
		align-items: center;
	}
	&__copy{
		font-family: $font;
		font-weight: 400;
		line-height: 1.5;
		font-size: 14px;
		color: $textColor;
	}
	&__link{
		color: #3c86f4;
	}
}

.creator{
	height: 70px;
	width: 250px;
	display: flex;
	justify-content: space-between;;
	align-items: center;
	&__title{
		margin: 0;
		font-family: $font;
		font-size: 9px;
		text-transform: uppercase;
		font-weight: 700;
		vertical-align: center;
		@include phone {
			display: none;
		}
	}
}